.container-fluid{
    background-color:#FFCCFF;
}
.content{
    background-color: rgb(119, 95, 95);
 
}
.btn{
    background-color: rgb(202, 188, 188);
}
.div1 {
    /* height:40px; */
    /* background-color:rgb(104, 85, 85); */
    
}
.div2 {
    height:100px;
    background-color:rgb(46, 35, 35);
}
.top {
    color: plum;
    font-family:fontawesome;
    text-decoration:none;
    line-height:2;
    font-size:37px;
    letter-spacing:3px;
    display:block;
    
  }
  .motto{
    color: white;
    font-family:fontawesome;
    text-decoration:none;
    line-height:1;
    font-size:20px;
    letter-spacing:1px;
    text-align: center;
  }
 

  .vision1{
    
    line-height:2;
    font-size:20px;
    color: black;
   
  }
  .myText{
    line-height:2;
    font-size:20px;
  }
  .texts{
    top:0;
    bottom: 0;
    color: white;
    font-size: 30px;
    line-height:2;
    letter-spacing:3px;
  }
  .image1{
      background: 
        linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
        ),
        url(../images/Naivasha-Girls.jpg);
    background-size: cover; 
  }
  .sub{
      color: white;
      background-color: white;
  }
  .fa-user-tie{
      font-size: 50px;
      color: black;
  }
  .triangle1{
    width:0px;
    height:0px;
    border-bottom: 170px solid rgb(158, 71, 39);
    border-left: 170px solid #FFCCFF;
}
.triangle2{
    width:0px;
    height:0px;
    border-bottom: 170px solid rgb(155, 72, 155);
    border-left: 170px solid #FFCCFF;
}
.triangle3{
    width:0px;
    height:0px;
    border-bottom: 170px solid rgb(57, 145, 145);
    border-left: 170px solid #FFCCFF;
}
  .boss1{
    background-color:rgb(158, 71, 39);
    
}
  .boss2{
      background-color: rgb(155, 72, 155);
      
  }
  .boss3{
    background-color: rgb(57, 145, 145);
    
}
.boss{
    background-color: white;
    
}
.boss h1{
    padding:40px 0 0 20px;
}
.triangle{
    width:0px;
    height:0px;
    border-bottom: 170px solid rgb(155, 72, 155);
    border-left: 170px solid #FFCCFF;
}
  .footer{
    background-color: black;
    color: white;
    font-size: 15px;
    clear: both;
    margin-bottom: 0px; 
    text-align: center;  
  }
  .img{
      margin-top: -45px;
      box-shadow:0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  }
  .flash{
      font-size: 60px;
  }
